Strings

In [5]:
#String
a = "Hello World"
b='hello world'
c = ''' hello world!
How are you doing'''
print(a)
print(b)
print(c, len(c))

Hello World
hello world
 hello world!
How are you doing 31

In [6]:
#type casting
a=14
b=str(a)
print(a)

14

In [17]:
s='hello '
print(s.capitalize()) #capitalizes 1st letter
print(s.upper())
print(s.lower())
print(s.rjust(8)) # gives 8 chars space and starts the string - right justify
print(s.ljust(12)) # opposite of above
print(s.replace('l','xyz')) # hexyzxyzo
print("  aftab    ".strip()) # removes trailing spaces from both ends

Hello
HELLO
hello
  hello
hello
hexyzxyzo
aftab

In [31]:
print(s*10) #prints s 10 times
print(s[4]) #print particular character
#printing substring
print(s[1:3]) #excludes right index - 3 in this case
x=5
print(x)
print(x+1) #addition
print(x-1) # subtraction
print(x*2) #multiplication
print(x//5) #floor division
print(x/5) #decimal division
print(x**2) # exponent
#modulos
print(x%2)

hello hello hello hello hello hello hello hello hello hello
o
el
5
6
4
10
1
1.0
25
1

In [32]:
#increment and decrement
x+=1
print(x) #x++ or x-- is not available in python unlike java
x-=1
print(x)

6
5

In [34]:
#boolean
a= True
b=False

print(a and b )
print( a or b)
print (not a)

False
True
False

### **Containers ( Lists, Sets, Tuple and Dictionary)**

In [35]:
# List

In [37]:
a = [ "Python", "Java", "Go", 'JavaScript'] # 0 indexed
print(a)
print(a[0])
print(a[3])
#negative index starts from -1
print(a[-1]) # starts from the end - prints last index in this case

['Python', 'Java', 'Go', 'JavaScript']
Python
JavaScript
JavaScript

In [2]:
#List can contain different data types
l = [5,'aftab',False, 2.5]
print(l)

[5, 'aftab', False, 2.5]

In [3]:
#adding new element at the end
l.append(5.5)
print(l)
#remove last element
print(l.pop())
poppedEle = l.pop()
print(l)
print(poppedEle)

[5, 'aftab', False, 2.5, 5.5]
5.5
[5, 'aftab', False]
2.5

In [9]:
nums = list(range(5)) # built in func that creates list of integers
print(nums)

print(nums[2:4]) #starts from index 2 and excludes from 4th index
print(nums[2:])  #starts from 2 till end
print(nums[:2]) # starts from start till last index-1
print(nums[:]) #slice of whole list
print(nums[:-1]) # start till end excluding last index(-1)
nums[2:4] = [50,100] # assigning new values to sublist in existing list
print(nums)
print(nums[::-1]) #reversing a list

[0, 1, 2, 3, 4]
[2, 3]
[2, 3, 4]
[0, 1]
[0, 1, 2, 3, 4]
[0, 1, 2, 3]
[0, 1, 50, 100, 4]
[4, 100, 50, 1, 0]

### Tuples

In [13]:
t = (12,34,51,74,98)
print(t)
print(t[0])
#t[0]=100 # throws error ->TypeError: 'tuple' object does not support item assignment

(12, 34, 51, 74, 98)
12

### Sets

In [16]:
animals = {'dog','cat', 'bull','dog'} # unordered
print(animals)
print('cat' in animals) #true
print('wolf' in animals) #false
animals.add('lion')
print(animals)

{'cat', 'dog', 'bull'}
True
False
{'cat', 'dog', 'lion', 'bull'}

### Dictionaries

In [23]:
#key value pair
d = {1:'cat',2:'dog',3:'Lion','four':'Tiger'}
print(d)
print(d[1])
print(d['four'])
print(d["four"])
print('three' in d) #false

d['five']='Wolf'
print(d)

{1: 'cat', 2: 'dog', 3: 'Lion', 'four': 'Tiger'}
cat
Tiger
Tiger
False
{1: 'cat', 2: 'dog', 3: 'Lion', 'four': 'Tiger', 'five': 'Wolf'}

In [26]:
print(d.get(1))
print(d.get(10,'this is default'))
del d['five']
print(d)

cat
this is default
{1: 'cat', 2: 'dog', 3: 'Lion', 'four': 'Tiger'}

### Conditional Statements

In [33]:
s1=80
s2=80
#indentation & colon after keywords (if, elif, else)
# are important and there are no braces in if condition unlike java
if s1<s2:
  print("s2 has more marks")
elif s1>s2:
  print("s1 has more marks")
else:
  print("both have equal marks")

both have equal marks

### While loop

In [40]:
# a=0
# while a<10:
#   a+=1
#   print(a,a**2)
b=0
for i in range(6,10): #range(10) -> prints 10 times
  b+=1
  print(b,b**2,i)

a= [0,1,2,3,4]
for i in a:
  print(i)

1 1 6
2 4 7
3 9 8
4 16 9
0
1
2
3
4

In [42]:
#enumerate
animals = ['cat','dog','monkey']
for idx,animal in enumerate(animals):
  print('#{}: {}'.format(idx,animal))

#0: cat
#1: dog
#2: monkey

In [44]:
#loop on dictionaries
d = {1:'cat',2:'dog',3:'Lion','four':'Tiger'}
for key,value in d.items(): #importnt keyword is .items()
  print(key,value)

1 cat
2 dog
3 Lion
four Tiger

### Functions

In [47]:
def sum():
  pass #if nothing is being done in func

def printHello():
  print("Hello")

printHello() #calling the function

Hello

In [50]:
x=5

def printSign(x):
  if(x>0):
    print("Positive")
  else:
    print("Neative")

printSign(10)

Positive

### Lambda Function

In [53]:
def myFunc(x):
  return x*x

#the above simple func can be written by lambda func

my_lambdaFunc = lambda x:x*x  #x is input parameter & x*x is return statement

for i in range(10):
  print(my_lambdaFunc(i),myFunc(i))

0 0
1 1
4 4
9 9
16 16
25 25
36 36
49 49
64 64
81 81

In [55]:
#default arguement
def printHello(name, loud=False): # this is default if 2nd parameter is not passed)
  if loud:
    print('HELLO, {}' .format(name.upper()))
  else:
    print(' hello, {}' .format(name))

printHello('aftab',True)
printHello('aftab')

HELLO, AFTAB
 hello, aftab